# Проведение расчётов и исследований

In [227]:
import pandas as pd

### Базовая подготовка датасета к проведению рассчетов

In [228]:
column_names = [
    'year',  # Год
    'season',  # Время года
    'climate',  # Климат
    'city',  # Город
    'country',  # Страна
    'cooling_method',  # Способ охлаждения
    'mixed_cooling_mode',  # Режим при смешанном типе охлаждения
    'heating_method',  # Способ обогрева
    'age',  # Возраст
    'gender',  # Пол
    'temperature_feeling',  # Ощущение температуры
    'temperature_feeling_bool',  # Ощущение температуры (bool)
    'preferred_temperature_change',  # Предпочтительное изменение температуры
    'air_movement_feeling_bool',  # Ощущение движения воздуха (bool)
    'preferred_air_movement_change',  # Предпочтительное изменение движения воздуха
    'comfort_rating',  # Оценка комфорта
    'clothing_insulation',  # Утепление
    'indoor_air_temperature',  # Температура воздуха в помещении
    'outdoor_air_temperature',  # Температура воздуха на улице
    'relative_humidity',  # Относительная влажность (RH)
    'air_speed',  # Скорость воздуха
    'height',  # Рост
    'weight',  # Вес
    'curtains',  # Занавески
    'fan_mode',  # Вентилятор
    'window_status',  # Окно
    'door_status',  # Двери
    'heating_mode',  # Отопление
    'average_monthly_outdoor_temperature',  # Среднемесячная температура на улице
    'number_of_complaints'  # Количество рекламаций
]

column_types = {
    'year': 'int',  # Год (целое число)
    'season': 'category',  # Время года (категориальная переменная: весна, лето и т.д.)
    'climate': 'category',  # Климат (категориальная переменная: названия типов климата)
    'city': 'category',  # Город (категориальная переменная)
    'country': 'category',  # Страна (категориальная переменная)
    'cooling_method': 'category',  # Способ охлаждения (категориальная переменная)
    'mixed_cooling_mode': 'category',  # Режим при смешанном типе охлаждения (категориальная переменная)
    'heating_method': 'category',  # Способ обогрева (категориальная переменная)
    'age': 'int',  # Возраст (целое число)
    'gender': 'category',  # Пол (категориальная переменная: мужской/женский)
    'temperature_feeling': 'float',  # Ощущение температуры (целое число от -3 до +3)
    'temperature_feeling_bool': 'bool',  # Ощущение температуры (bool)
    'preferred_temperature_change': 'category',  # Предпочтительное изменение температуры (категориальная переменная)
    'air_movement_feeling_bool': 'bool',  # Ощущение движения воздуха (bool)
    'preferred_air_movement_change': 'category',  # Предпочтительное изменение движения воздуха (категориальная переменная)
    'comfort_rating': 'int',  # Оценка комфорта (целое число от 1 до 6)
    'clothing_insulation': 'float',  # Утепление (вещественное число, связанный с одеждой фактор)
    'indoor_air_temperature': 'float',  # Температура воздуха в помещении (вещественное число)
    'outdoor_air_temperature': 'float',  # Температура воздуха на улице (вещественное число)
    'relative_humidity': 'float',  # Относительная влажность (вещественное число)
    'air_speed': 'float',  # Скорость воздуха (вещественное число)
    'height': 'float',  # Рост (вещественное число)
    'weight': 'float',  # Вес (вещественное число)
    'curtains': 'bool',  # Занавески (категориальная переменная: 0 или 1)
    'fan_mode': 'bool',  # Вентилятор (категориальная переменная: 0 или 1)
    'window_status': 'bool',  # Окно (категориальная переменная: 0 или 1)
    'door_status': 'bool',  # Двери (категориальная переменная: 0 или 1)
    'heating_mode': 'bool',  # Отопление (категориальная переменная: 0 или 1)
    'average_monthly_outdoor_temperature': 'float',  # Среднемесячная температура на улице (вещественное число)
    'number_of_complaints': 'int'  # Количество рекламаций (целое число)
}

In [229]:
df = pd.read_csv(
    'data/data.csv',
    sep=';',
    decimal='.',
    header=0,
    names=column_names
)

df['cooling_method'].fillna("NA")
df['mixed_cooling_mode'].fillna("NA")
df['heating_method'].fillna("NA")

for column in df.columns:
    mode_value = df[column].mode()[0] if not df[column].mode().empty else None
    df[column] = df[column].fillna(mode_value)

df = df.astype(column_types)

df.head()

,year,season,climate,city,country,cooling_method,mixed_cooling_mode,heating_method,age,gender,...,air_speed,height,weight,curtains,fan_mode,window_status,door_status,heating_mode,average_monthly_outdoor_temperature,number_of_complaints
0,2011,Лето,Cубтропический океанический,Техас,США,Кондиционирование,Кондиционирование,Механическое отопление,22,Мужской,...,0.26,160.0,65.0,True,True,False,False,True,28.9,0
1,2011,Лето,Cубтропический океанический,Техас,США,Кондиционирование,Кондиционирование,Механическое отопление,40,Мужской,...,0.12,160.0,65.0,False,False,False,False,True,84.0,0
2,2011,Лето,Cубтропический океанический,Техас,США,Кондиционирование,Кондиционирование,Механическое отопление,42,Мужской,...,0.08,160.0,65.0,False,False,False,False,True,32.8,0
3,2011,Лето,Cубтропический океанический,Техас,США,Кондиционирование,Кондиционирование,Механическое отопление,27,Мужской,...,27.16,160.0,65.0,True,True,False,False,True,28.9,1
4,2011,Лето,Cубтропический океанический,Техас,США,Кондиционирование,Кондиционирование,Механическое отопление,46,Мужской,...,63.83,160.0,65.0,True,True,False,False,True,32.8,0

In [230]:
df.dtypes

year                                      int64
season                                 category
climate                                category
city                                   category
country                                category
cooling_method                         category
mixed_cooling_mode                     category
heating_method                         category
age                                       int64
gender                                 category
temperature_feeling                     float64
temperature_feeling_bool                   bool
preferred_temperature_change           category
air_movement_feeling_bool                  bool
preferred_air_movement_change          category
comfort_rating                            int64
clothing_insulation                     float64
indoor_air_temperature                  float64
outdoor_air_temperature                 float64
relative_humidity                       float64
air_speed                               float64
height                                  float64
weight                                  float64
curtains                                   bool
fan_mode                                   bool
window_status                              bool
door_status                                bool
heating_mode                               bool
average_monthly_outdoor_temperature     float64
number_of_complaints                      int64
dtype: object

### Рассчеты

In [231]:
df.head()

,year,season,climate,city,country,cooling_method,mixed_cooling_mode,heating_method,age,gender,...,air_speed,height,weight,curtains,fan_mode,window_status,door_status,heating_mode,average_monthly_outdoor_temperature,number_of_complaints
0,2011,Лето,Cубтропический океанический,Техас,США,Кондиционирование,Кондиционирование,Механическое отопление,22,Мужской,...,0.26,160.0,65.0,True,True,False,False,True,28.9,0
1,2011,Лето,Cубтропический океанический,Техас,США,Кондиционирование,Кондиционирование,Механическое отопление,40,Мужской,...,0.12,160.0,65.0,False,False,False,False,True,84.0,0
2,2011,Лето,Cубтропический океанический,Техас,США,Кондиционирование,Кондиционирование,Механическое отопление,42,Мужской,...,0.08,160.0,65.0,False,False,False,False,True,32.8,0
3,2011,Лето,Cубтропический океанический,Техас,США,Кондиционирование,Кондиционирование,Механическое отопление,27,Мужской,...,27.16,160.0,65.0,True,True,False,False,True,28.9,1
4,2011,Лето,Cубтропический океанический,Техас,США,Кондиционирование,Кондиционирование,Механическое отопление,46,Мужской,...,63.83,160.0,65.0,True,True,False,False,True,32.8,0

Создать дополнительный категориальный столбец, который покажет количество рекламаций по каждому клиенту отдельно: мало (≤1), средне (=2), много (>2).

In [232]:
df['complaints_cat'] = ['few' if x <= 1 else 'medium' if x == 2 else "many" for x in df['number_of_complaints']]
df['complaints_cat'] = df['complaints_cat'].astype('category')

df[['number_of_complaints', 'complaints_cat']].sample(5)

     number_of_complaints complaints_cat
179                     0            few
93                      0            few
61                      1            few
183                     0            few
38                      1            few

Рассчитать средний возраст респондентов по полу и стране

In [233]:
tmp = df[['gender', 'age', 'country']].copy()
mean_age_df = tmp.groupby(['gender', 'country'], observed=False).mean().copy()

mean_age_df.to_csv('data/mean_age.csv')

mean_age_df

                         age
gender  country
Женский Австралия  46.348315
        Индия      39.637681
        США              NaN
Мужской Австралия  42.614679
        Индия      40.448276
        США        36.208333

In [234]:
df.query('gender == "Женский" and country == "США"') # WTF

Empty DataFrame
Columns: [year, season, climate, city, country, cooling_method, mixed_cooling_mode, heating_method, age, gender, temperature_feeling, temperature_feeling_bool, preferred_temperature_change, air_movement_feeling_bool, preferred_air_movement_change, comfort_rating, clothing_insulation, indoor_air_temperature, outdoor_air_temperature, relative_humidity, air_speed, height, weight, curtains, fan_mode, window_status, door_status, heating_mode, average_monthly_outdoor_temperature, number_of_complaints, complaints_cat]
Index: []

[0 rows x 31 columns]

Добавить категориальный столбец, разделив респондентов на три категории по возрасту: до 44 лет - молодой возраст, 45 - 59 лет - средний возраст, 60 лет и больше - пожилой возраст.

In [235]:
df['age_cat'] = ['young_age' if x <= 44 else 'mean_age' if 45 <= x <= 59 else "old_age" for x in df['age']]
df['age_cat'] = df['age_cat'].astype('category')

df[['age', 'age_cat']].sample(5)

     age    age_cat
241   65    old_age
20    41  young_age
91    35  young_age
187   45   mean_age
400   55   mean_age

Рассчитать среднюю комфортную температуру в зависимости от возрастной категории

In [240]:
tmp = df[['temperature_feeling_bool', 'age_cat', 'indoor_air_temperature', 'outdoor_air_temperature']].copy()
avarage_comf_temp_df = tmp.groupby(['temperature_feeling_bool', 'age_cat'], observed=False).mean()

avarage_comf_temp_df.to_csv('data/avarage_comf_temp.csv')

avarage_comf_temp_df

                                    indoor_air_temperature  \
temperature_feeling_bool age_cat
False                    mean_age                26.517460
                         old_age                 24.700000
                         young_age               27.758333
True                     mean_age                25.231633
                         old_age                 25.400000
                         young_age               26.558757

                                    outdoor_air_temperature
temperature_feeling_bool age_cat
False                    mean_age                 24.088889
                         old_age                  24.100000
                         young_age                24.163889
True                     mean_age                 24.104592
                         old_age                  24.100000
                         young_age                24.087571

Рассчитать медианное значение температуры и влажности для каждого типа охлаждения